In [126]:
# Importing modules
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
import numpy as np

In [113]:
# Load the data
df = pd.read_csv('AviationData.csv', encoding='cp1252')
df.head()

c:\Users\navil\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [114]:
# Check missing values
missing_series = df.isna().sum() / len(df)

# Sort
missing_series.sort_values(ascending=False, inplace=True)
missing_series

Schedule                  0.858453
Air.carrier               0.812710
FAR.Description           0.639742
Aircraft.Category         0.636772
Longitude                 0.613304
Latitude                  0.613203
Airport.Code              0.434699
Airport.Name              0.406113
Broad.phase.of.flight     0.305606
Publication.Date          0.154924
Total.Serious.Injuries    0.140737
Total.Minor.Injuries      0.134246
Total.Fatal.Injuries      0.128261
Engine.Type               0.079616
Report.Status             0.071786
Purpose.of.flight         0.069660
Number.of.Engines         0.068445
Total.Uninjured           0.066510
Weather.Condition         0.050535
Aircraft.damage           0.035932
Registration.Number       0.014816
Injury.Severity           0.011250
Country                   0.002542
Amateur.Built             0.001147
Model                     0.001035
Make                      0.000709
Location                  0.000585
Event.Date                0.000000
Accident.Number           0.000000
Investigation.Type        0.000000
Event.Id                  0.000000
dtype: float64

In [115]:
# Drop columns with many missing values that are not relevant
columns_to_drop = ['Schedule', 'Air.carrier', 'FAR.Description', 'Longitude', 'Latitude']

df.drop(columns_to_drop, axis=1, inplace=True)

In [116]:
df.isna().sum().sort_values(ascending=False) / len(df)

Aircraft.Category         0.636772
Airport.Code              0.434699
Airport.Name              0.406113
Broad.phase.of.flight     0.305606
Publication.Date          0.154924
Total.Serious.Injuries    0.140737
Total.Minor.Injuries      0.134246
Total.Fatal.Injuries      0.128261
Engine.Type               0.079616
Report.Status             0.071786
Purpose.of.flight         0.069660
Number.of.Engines         0.068445
Total.Uninjured           0.066510
Weather.Condition         0.050535
Aircraft.damage           0.035932
Registration.Number       0.014816
Injury.Severity           0.011250
Country                   0.002542
Amateur.Built             0.001147
Model                     0.001035
Make                      0.000709
Location                  0.000585
Event.Date                0.000000
Accident.Number           0.000000
Investigation.Type        0.000000
Event.Id                  0.000000
dtype: float64

In [117]:
# Inspect Aircraft.Category
df['Aircraft.Category'].value_counts()

Airplane             27617
Helicopter            3440
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
ULTR                     1
Rocket                   1
Name: Aircraft.Category, dtype: int64

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Airport.Code            50249 non-null  object
 7   Airport.Name            52790 non-null  object
 8   Injury.Severity         87889 non-null  object
 9   Aircraft.damage         85695 non-null  object
 10  Aircraft.Category       32287 non-null  object
 11  Registration.Number     87572 non-null  object
 12  Make                    88826 non-null  object
 13  Model                   88797 non-null  object
 14  Amateur.Built           88787 non-null  object
 15  Number.of.Engines       82805 non-null  float64
 16  Engine.Type             81812 non-null  object
 17  Purpose.of.flight       82697 non-null  object
 18  Total.Fatal.Injuries    77488 non-null  float64
 19  Total.Serious.Injuries  76379 non-null  float64
 20  Total.Minor.Injuries    76956 non-null  float64
 21  Total.Uninjured         82977 non-null  float64
 22  Weather.Condition       84397 non-null  object
 23  Broad.phase.of.flight   61724 non-null  object
 24  Report.Status           82508 non-null  object
 25  Publication.Date        75118 non-null  object
dtypes: float64(5), object(21)
memory usage: 17.6+ MB

In [119]:
# Drop rows missing model or make
df.dropna(subset=['Make', 'Model'], inplace=True)
df[['Make', 'Model']].isna().sum()

Make     0
Model    0
dtype: int64

In [120]:
# Check amateuer built column
df['Amateur.Built'].mode()

0    No
dtype: object

In [138]:
# fill the column with the mode
df['Amateur.Built'].fillna(df['Amateur.Built'].mode()[0], inplace=True)
df['Amateur.Built'].isna().sum()

0

In [122]:
# check the damage column
df['Aircraft.damage'].value_counts()

Substantial    64097
Destroyed      18597
Minor           2792
Unknown          119
Name: Aircraft.damage, dtype: int64

In [127]:
# Imputing with mean
df['Total.Fatal.Injuries'].fillna(np.floor(df['Total.Fatal.Injuries'].mean()), inplace=True)
df['Total.Minor.Injuries'].fillna(np.floor(df['Total.Minor.Injuries'].mean()), inplace=True)
df['Total.Serious.Injuries'].fillna(np.floor(df['Total.Serious.Injuries'].mean()), inplace=True)
df['Total.Uninjured'].fillna(np.floor(df['Total.Uninjured'].mean()), inplace=True)

In [132]:
# impute number of engines column with mean
df['Number.of.Engines'].fillna(np.floor(df['Number.of.Engines'].mean()), inplace=True)

In [140]:
# fill other missing values with 'missing'
df.fillna('missing', inplace=True)

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 88777 entries, 0 to 88888
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88777 non-null  object
 1   Investigation.Type      88777 non-null  object
 2   Accident.Number         88777 non-null  object
 3   Event.Date              88777 non-null  object
 4   Location                88777 non-null  object
 5   Country                 88777 non-null  object
 6   Airport.Code            88777 non-null  object
 7   Airport.Name            88777 non-null  object
 8   Injury.Severity         88777 non-null  object
 9   Aircraft.damage         88777 non-null  object
 10  Aircraft.Category       88777 non-null  object
 11  Registration.Number     88777 non-null  object
 12  Make                    88777 non-null  object
 13  Model                   88777 non-null  object
 14  Amateur.Built           88777 non-null  object
 15  Number.of.Engines       88777 non-null  float64
 16  Engine.Type             88777 non-null  object
 17  Purpose.of.flight       88777 non-null  object
 18  Total.Fatal.Injuries    88777 non-null  float64
 19  Total.Serious.Injuries  88777 non-null  float64
 20  Total.Minor.Injuries    88777 non-null  float64
 21  Total.Uninjured         88777 non-null  float64
 22  Weather.Condition       88777 non-null  object
 23  Broad.phase.of.flight   88777 non-null  object
 24  Report.Status           88777 non-null  object
 25  Publication.Date        88777 non-null  object
dtypes: float64(5), object(21)
memory usage: 18.3+ MB

In [142]:
# Confirm no missing values
df.isna().sum().sum()

0