In [87]:
# Importing modules
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
import numpy as np

In [88]:
# Load the data
df = pd.read_csv('AviationData.csv', encoding='cp1252')
df.head()

c:\Users\navil\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [89]:
# Check for duplicated rows
df.duplicated().sum()

0

In [90]:
# Check missing values
missing_series = df.isna().sum() / len(df)

# Sort
missing_series.sort_values(ascending=False, inplace=True)
missing_series

Schedule                  0.858453
Air.carrier               0.812710
FAR.Description           0.639742
Aircraft.Category         0.636772
Longitude                 0.613304
Latitude                  0.613203
Airport.Code              0.434699
Airport.Name              0.406113
Broad.phase.of.flight     0.305606
Publication.Date          0.154924
Total.Serious.Injuries    0.140737
Total.Minor.Injuries      0.134246
Total.Fatal.Injuries      0.128261
Engine.Type               0.079616
Report.Status             0.071786
Purpose.of.flight         0.069660
Number.of.Engines         0.068445
Total.Uninjured           0.066510
Weather.Condition         0.050535
Aircraft.damage           0.035932
Registration.Number       0.014816
Injury.Severity           0.011250
Country                   0.002542
Amateur.Built             0.001147
Model                     0.001035
Make                      0.000709
Location                  0.000585
Event.Date                0.000000
Accident.Number           0.000000
Investigation.Type        0.000000
Event.Id                  0.000000
dtype: float64

In [91]:
# Drop columns with many missing values that are not relevant
columns_to_drop = ['Schedule', 'Air.carrier', 'FAR.Description', 'Longitude', 'Latitude']

df.drop(columns_to_drop, axis=1, inplace=True)

In [92]:
df.isna().sum().sort_values(ascending=False) / len(df)

Aircraft.Category         0.636772
Airport.Code              0.434699
Airport.Name              0.406113
Broad.phase.of.flight     0.305606
Publication.Date          0.154924
Total.Serious.Injuries    0.140737
Total.Minor.Injuries      0.134246
Total.Fatal.Injuries      0.128261
Engine.Type               0.079616
Report.Status             0.071786
Purpose.of.flight         0.069660
Number.of.Engines         0.068445
Total.Uninjured           0.066510
Weather.Condition         0.050535
Aircraft.damage           0.035932
Registration.Number       0.014816
Injury.Severity           0.011250
Country                   0.002542
Amateur.Built             0.001147
Model                     0.001035
Make                      0.000709
Location                  0.000585
Event.Date                0.000000
Accident.Number           0.000000
Investigation.Type        0.000000
Event.Id                  0.000000
dtype: float64

In [93]:
# Inspect Aircraft.Category
df['Aircraft.Category'].value_counts()

Airplane             27617
Helicopter            3440
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
Rocket                   1
ULTR                     1
Name: Aircraft.Category, dtype: int64

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Airport.Code            50249 non-null  object
 7   Airport.Name            52790 non-null  object
 8   Injury.Severity         87889 non-null  object
 9   Aircraft.damage         85695 non-null  object
 10  Aircraft.Category       32287 non-null  object
 11  Registration.Number     87572 non-null  object
 12  Make                    88826 non-null  object
 13  Model                   88797 non-null  object
 14  Amateur.Built           88787 non-null  object
 15  Number.of.Engines       82805 non-null  float64
 16  Engine.Type             81812 non-null  object
 17  Purpose.of.flight       82697 non-null  object
 18  Total.Fatal.Injuries    77488 non-null  float64
 19  Total.Serious.Injuries  76379 non-null  float64
 20  Total.Minor.Injuries    76956 non-null  float64
 21  Total.Uninjured         82977 non-null  float64
 22  Weather.Condition       84397 non-null  object
 23  Broad.phase.of.flight   61724 non-null  object
 24  Report.Status           82508 non-null  object
 25  Publication.Date        75118 non-null  object
dtypes: float64(5), object(21)
memory usage: 17.6+ MB

In [95]:
# Drop rows missing model or make
df.dropna(subset=['Make', 'Model'], inplace=True)
df[['Make', 'Model']].isna().sum()

Make     0
Model    0
dtype: int64

In [96]:
# Check amateuer built column
df['Amateur.Built'].mode()

0    No
dtype: object

In [97]:
# fill the column with the mode
df['Amateur.Built'].fillna(df['Amateur.Built'].mode()[0], inplace=True)
df['Amateur.Built'].isna().sum()

0

In [98]:
# check the damage column
df['Aircraft.damage'].value_counts()

Substantial    64097
Destroyed      18597
Minor           2792
Unknown          119
Name: Aircraft.damage, dtype: int64

In [99]:
# Imputing with mean
df['Total.Fatal.Injuries'].fillna(np.floor(df['Total.Fatal.Injuries'].mean()), inplace=True)
df['Total.Minor.Injuries'].fillna(np.floor(df['Total.Minor.Injuries'].mean()), inplace=True)
df['Total.Serious.Injuries'].fillna(np.floor(df['Total.Serious.Injuries'].mean()), inplace=True)
df['Total.Uninjured'].fillna(np.floor(df['Total.Uninjured'].mean()), inplace=True)

In [100]:
# impute number of engines column with mean
df['Number.of.Engines'].fillna(np.floor(df['Number.of.Engines'].mean()), inplace=True)

In [101]:
# fill other missing values with 'missing'
df.fillna('missing', inplace=True)

In [102]:
# Confirm no missing values
df.isna().sum().sum()

0

In [103]:
# Create Unique name field
df['Unique_name'] = df['Make'] + '_' + df['Model']

In [104]:
# Group by investigation type to get count of accidents for each model
accidents_series = df[df['Investigation.Type'] == 'Accident'].groupby(
    ['Unique_name']
)['Investigation.Type'].count()

# create df for incident and accident count
accident_incident_df = df['Unique_name']
accident_incident_df

0                           Stinson_108-3
1                          Piper_PA24-180
2                             Cessna_172M
3                            Rockwell_112
4                              Cessna_501
                       ...
88884                     PIPER_PA-28-151
88885                       BELLANCA_7ECA
88886    AMERICAN CHAMPION AIRCRAFT_8GCBC
88887                         CESSNA_210N
88888                     PIPER_PA-24-260
Name: Unique_name, Length: 88777, dtype: object

In [105]:
# Drop duplicates to ensure unique aircraft name
accident_incident_df.drop_duplicates(inplace=True)
accident_incident_df = accident_incident_df.reset_index()
accident_incident_df.duplicated().sum()

0

In [106]:
# Create accident_count column
accident_incident_df['accident_count'] = accident_incident_df['Unique_name']
accident_incident_df.drop('index', axis=1, inplace=True)

In [107]:
# Run above cells
# map the real accident count values to the column
accident_incident_df['accident_count'] = accident_incident_df['accident_count'].map(
    lambda x: accidents_series[x] if x in accidents_series.index else 0
)

accident_incident_df['accident_count']

0         83
1          4
2        663
3          5
4         19
        ...
20131      1
20132      1
20133      1
20134      1
20135      1
Name: accident_count, Length: 20136, dtype: int64

In [108]:
# Group by investigation type to get count of incidents for each aircraft
incidents_series = df[df['Investigation.Type'] == 'Incident'].groupby(
    ['Unique_name']
)['Investigation.Type'].count()
incidents_series.head()

Unique_name
2007 Savage Air LLC_EPIC LT    1
737_800                        2
777_FF2                        1
AEROSPATIALE_AS 350 B-2        1
AEROSPATIALE_AS350BA           1
Name: Investigation.Type, dtype: int64

In [109]:
# Run above cells
# Add column for incident count - the number of incidents per aircraft
accident_incident_df['incident_count'] = accident_incident_df['Unique_name']
accident_incident_df['incident_count'] = accident_incident_df['incident_count'].map(
    lambda x: incidents_series[x] if x in incidents_series.index else 0,
)

In [112]:
# Create new column for total accidents and incidents
accident_incident_df['total_accidents_incidents'] = (
    accident_incident_df['accident_count'] + accident_incident_df['incident_count']
)
accident_incident_df

,Unique_name,accident_count,incident_count,total_accidents_incidents
0,Stinson_108-3,83,1,84
1,Piper_PA24-180,4,0,4
2,Cessna_172M,663,4,667
3,Rockwell_112,5,0,5
4,Cessna_501,19,0,19
...,...,...,...,...
20131,JAMES R DERNOVSEK_KITFOX S5,1,0,1
20132,ORLICAN S R O_M-8 EAGLE,1,0,1
20133,PIPER_PA-44,1,0,1
20134,AIRBUS HELICOPTERS_EC 130 T2,1,0,1
20135,ROYSE RALPH L_GLASAIR,1,0,1

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Airport.Code', 'Airport.Name',
       'Injury.Severity', 'Aircraft.damage', 'Aircraft.Category',
       'Registration.Number', 'Make', 'Model', 'Amateur.Built',
       'Number.of.Engines', 'Engine.Type', 'Purpose.of.flight',
       'Total.Fatal.Injuries', 'Total.Serious.Injuries',
       'Total.Minor.Injuries', 'Total.Uninjured', 'Weather.Condition',
       'Broad.phase.of.flight', 'Report.Status', 'Publication.Date',
       'Unique_name', 'accident_count', 'incident_count'],
      dtype='object')

In [170]:
# Change to datetime dtype
df['Event.Date'] = pd.to_datetime(df['Event.Date'])

In [171]:
# create new column for year
df['year'] = df['Event.Date'].map(lambda x: x.year)

In [181]:
df['total_accidents_incidents'] = df['accident_count'] + df['incident_count']

In [191]:
# Plotting distribution of accidents over the years
accident_incident_by_year = df.groupby('year').agg(
    {
        "total_accidents_incidents": ''
    }
).reset_index()
accident_incident_by_year.sum()
# plt.figure(figsize=(10,6))
# sns.barplot(accident_incident_by_year, x='year', y='total_accidents_incidents' )

# plt.title('Distribution of Accidents/Incidents Over Time')
# plt.xlabel('Year')
# plt.ylabel('Count')
# plt.show()

year                            93903
total_accidents_incidents    16928857
dtype: int64

In [218]:
df[['Unique_name', 'accident_count']].drop_duplicates()['accident_count'].sum()

84937